@model AspnetCoreMvcFull.Models.BranchDto
@{
    ViewData["Title"] = "Add Branch - Set Up";
    var alertMessage = ViewBag.Message;// TempData.Peek("Alert") as string;
    var BusinessesList = ViewBag.BusinessesList as IEnumerable<SelectListItem>;
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/quill/typography.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/katex.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/editor.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/quill/katex.js"></script>
    <script src="~/vendor/libs/quill/quill.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/tagify/tagify.js"></script>

}

@section PageScripts {
    <script src="~/js/app-ecommerce-product-add.js"></script>

}

@* ************** Content ************** *@
<div class="app-ecommerce">

    <!-- Add Product -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 row-gap-4">

        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1">Add a new Branch</h4>
            <p class="mb-0">A branch per each business saved</p>
        </div>
        <div class="d-flex align-content-center flex-wrap gap-4">
            @* <div class="d-flex gap-4">
                <button class="btn btn-label-secondary">Discard</button>
                <button class="btn btn-label-primary">Save draft</button>
            </div> *@
            <button type="submit" class="btn btn-primary">Businesses</button>
        </div>

    </div>

    <div class="row">

        <!-- First column-->
        <div class="col-12 col-lg-8">
            <!-- Product Information -->
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-tile mb-0">Information</h5>
                </div>
                <div class="card-body">

                    @if (!string.IsNullOrEmpty(alertMessage))
                    {
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <h6 class="alert-heading d-flex align-items-center mb-1">Info</h6>
                            <p class="mb-0">@alertMessage.</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    }
                    @if (ViewBag.BusinessesList != null)
                    {

                        <form id="formAddBranch" class="mb-6" asp-action="Add" method="POST">

                            <div class="mb-6">
                                <label class="form-label" for="SelectedBusinessId"> Business </label>
                                <select asp-items="@ViewBag.BusinessesList" name="SelectedBusinessId" class="form-control">
                                    <option value="">-- Select Business --</option>
                                </select>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-6">
                                <label class="form-label" for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Enter Branch Name" name="Name" aria-label="Enter Branch Name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-6">
                                <label class="form-label" for="Town">Town</label>
                                <input asp-for="Town" type="text" class="form-control" id="Town" placeholder="Enter Town" name="Town" aria-label="Enter Town" required>
                            </div>
                            <hr />
                            <div class="mb-6">
                                <label class="form-label" for="PhysicalLocationName">Physical Location Name</label>
                                <input asp-for="PhysicalLocationName" type="text" class="form-control" id="PhysicalLocationName" placeholder="Enter Physical Location Name" name="PhysicalLocationName" aria-label="Enter Physical Location Name" required>
                            </div>
                            <div class="mb-6">
                                <label class="form-label" for="GeoLocation">Geo Location</label>
                                <input asp-for="GeoLocation" type="text" class="form-control" id="GeoLocation" placeholder="Enter Geo Location" name="GeoLocation" aria-label="Enter Geo Location" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit Business</button>

                        </form>
                    }else
                    {
                        
                    }
                
                </div>
            </div>
            <!-- /Product Information -->

        </div>
        <!-- /Second column -->
        <!-- Second column -->
        <div class="col-12 col-lg-4">
            <!-- Pricing Card -->
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title mb-0">Latest</h5>
                </div>
                <div class="card-body">

                    <!-- Instock switch -->
                    <div class="d-flex justify-content-between align-items-center border-top pt-2">
                    </div>
                </div>
            </div>
            <!-- /Pricing Card -->

        </div>
        <!-- /Second column -->
    </div>
</div>
